#Layout {
    -fx-grid-lines-visible: false;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 10;
    -fx-background-color: #457e81;  /* changed background to be cyan */
}

#Buttons {
    -fx-pref-columns: 6;
    -fx-pref-tile-width: 75;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.button {
    -fx-font: bold 16pt "courier new";
    -fx-background-color: #cddcd1;
    -fx-text-fill: #291f1f;
    -fx-border-color: #00ffcc;
    -fx-border-width: 1;
}

.label {
    -fx-font: bold 18pt "Courier New";  /* font size and weight */
    -fx-text-fill: #cddcd1;             /* text color is now neon */
}

.text-field {
    -fx-font: bold 14pt "Courier New"; /* or any font size you want */
    -fx-control-inner-background: #a9bcae;
    -fx-text-fill: #2e5557;
}

.text-area {
    -fx-font: bold 14pt "Courier New"; /* or any font size you want */
    -fx-control-inner-background: #a9bcae;
    -fx-text-fill: #2e5557;
}

.button:hover {
    -fx-background-color: #00ffcc;
    -fx-text-fill: black;
}